html, body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #cbcbcb;
}
/* containers */
.menu {
    width: 600px;
    margin: 20px auto;
    font-family: 'Smythe', cursive;
    font-weight: 400;
    background-color: #FFF;
}

#header-container {
    background-image: url("images/header.png");
    text-align: center;
    height: 167px;
    margin-bottom: 18px;
    box-shadow: 2px 2px 5px #000;
}

.menu-item-container {
    width: 508px;
    height: 140px;
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1.5px solid #b4b4b4;

}

.food-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

#thank-you-container {
    background-color: #ECFDF5;
    width: 504px;
    height: 120px;
    margin: 45px auto 10px auto;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgb(183, 183, 183);
    border: 1px solid #000;
    display: none;
    justify-content: center;
    align-items: center;
}

#your-order-container {
    width: 508px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4px 4px rgb(184, 184, 184);
    font-size: 28px;
    line-height: 17px;
    margin: 40px auto 0 auto;
}

.complete-order-container {

}

.order-items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#modal-form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 524px;
    height: 542px;
    border: 1.3px solid #757575;
    box-shadow: 5px 5px 255px #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    display: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 476px;
    height: 71px;
    border: 1.3px solid #757575;
    font-size: 20px;
    line-height: 31px;
    text-align: left;
    margin-top: 23px;
    padding-left: 15px;
}
/* typography */

/* h1 {
    line-height: 24px;
    font-size: 39px;
}

h2 {
    font-size: 22.5px;
    line-height: 14px;
} */


h3 {
    font-size: 28px;
    line-height: 17px;
    margin: 0;
    padding-top: 10px;
}

h4 {
    font-size: 28px;
    line-height: 17px;;
}

.menu-item-description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #8B8B8B;
    padding-top: 10px;
}

.menu-item-price {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-top: 15px;
}

#thank-you-message {
    color: #065F46;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px #000;
    text-shadow: -1px -1px #000;
    display: none;
}

.order-item-text {
    font-size: 20px;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 0;
}

.total-price {
    margin-top: 15px;
}

h4 {
    text-align: center;
    margin: 0;
    font-weight: 400;
}

.modal-title {
    font-size: 24px;
}

#empty-cart-text {
    line-height: 28px;
    display: block;
    text-align: center;
}


/* buttons & inputs & emojis */

.emoji {
    font-size: 100px;
    margin: -20px 15px 0 -20px;
    padding: 0;
}
button {
    cursor: pointer
}

.increment-btn {   
    color: #3C3C3C;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    background-color: white;
    font-weight: 100;
    font-family: sans-serif;
}


.align-right {
    margin-left: auto;
}

#complete-order-btn {
    width: 508px;
    height: 60px;
    background-color: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: none;
    color: white;
    text-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 40px auto 50px auto; 
    padding: 0;
}

#pay-btn {
    width: 476px;
    height: 71px;
    background-color: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 45px auto 30px auto; 
    padding: 0;
}

.hidden {
    display: none;
}

.remove {
    color: #BBBBBB;
    font-size: 12px;
    line-height: 24px;
    border: none;
    background-color: white;
    margin: 0;
    padding-left: 4px;
    font-family: 'Smythe', cursive;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

}